<div role="tabpanel" class="tab-pane fade in active" id="compilers">
    <br><p class="post-info text-justify">
    Compilers are needed to turn your source code into executable files. We aim to provide as many compilers as possible for the supported platforms, in order to support as many user applications as possible. If want to compile your code from scratch, you can use one of these compilers and dependency libraries.</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Versions</th>
        <th>Status</th>
        <th>Repo</i></th>
        <th style="text-align: left">Description</th>
        <th>Published</th>
      </tr>
    </thead>
  {% for app in site.data.applications %}
  {% if app.tags contains "compilers" %}
  {% include apptable.html %}
  {% endif %}
  {% endfor %}
  </table>

</div>
