<div role="tabpanel" class="tab-pane fade in out" id="csirt">
  <div class="post-body bordered-bottom">
<h1  class="post-header text-center">Operational Security</h1>
Security is taken very seriously in the federation, at all levels - network, application and operational. Network security is usually in the domain of the relevant NREN; since the ROC spans several countries, there is some liaison with the regional RENS in Africa - ASREN, WACREN and the Ubuntunet Alliance in order to coordinate network security.
<h2 class="post-header text-center">Application and Middleware Security</h2>
 Overall, the infrastructure services are secured via Public Key Infrastructure; all hosts are issued digital x.509 certificates from trusted Certificate Authorities. These CA's form part of the <a href="http://www.igtf.org">International Global Trust Federation (IGTF)</a>. Authentication and Authorisation is usually done via some form of X.509 proxy - either of a personal certificate or of a robot certificate from a SAML delegation. All in all, there is a very small attack surface on the core grid infrastucture and computational, data and other services at the sites.
<h1 class="post-header text-center">Security Incidents</h1>
There are always bad people out there who want to do bad things, so inevitably there are security incidents at sites. Since an attack on one site is potentially an attack on all, there is strong coordination between the sites, the ROC and the CSIRT to identify, diagnose and address vulnerabilities in a proactive manner
  </div>
</div>
