{% if page.image.feature %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" >
{% else %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" >
{% endif %}
<div class="inner">
       <div class="container">
            <p class="copy-text">
                <a href="{{ site.url }}/AAROC/">{{ site.owner.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.
            </p>
            <ul class="menu-items">
            {% for link in site.links %}
            <li>
                {% if link.external %}
                    <a href="{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{{% endif %}}{{ link.title }}{% endif %}</a>&nbsp;&bull;
                  {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}"> {{ link.title }} </i>{% else %}{{ link.title }}{% endif %}</a>&nbsp;&bull;
                {% endif %}
            </li>
            {% endfor %}
            <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss"></i> Feed</a></li>
            {% if site.search %}&nbsp;&bull;<li class="dosearch"><i class="fa fa-search"></i> Search</li>{% endif %}
        </ul>
       </div>
    </div>
</footer>
