<div role="tabpanel" class="tab-pane" id="libraries">
    <p class="post-info text-justify">
    These libraries are available for your application to link against on the worker nodes.
    </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Versions</th>
        <th>Status</th>
        <th>Repo</th>
        <th style="text-align: left">Description</th>
        <th>Published</th>
      </tr>
    </thead>
  {% for app in site.data.applications %}
  {% if app.tags contains "libraries" %}
  {% include apptable.html %}
  {% endif %}
  {% endfor %}
  </table>
</div>
