<h1>Middleware</h1>
Maintaining interoperability between the various sites requires a special layer of software called <em>Middleware</em>. Middleware makes the distributed and complicated nature of a distributed infrastructure like AfricaGrid transparent to users and applications. User interaction with the middelware is usually done rarely, on command-line based user interfaces, and is enturely hidden with the use of Science Gateways.

The <a href="http://repository.egi.eu">Unified Middleware Distribution</a> packages the middleware components of several providers (ARC, dCache, gLite and Globus)

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ site_url }}/images/EGI_Logo_RGB.svg" alt="EMI website"  href="http://repository.egi.eu">
      <div class="caption text-center">
        <h3><a href="http://repository.egi.eu">Read more on the Unified Middleware Distribution</a></h3>
      </div> <!-- caption -->
    </div> <!-- thumbnail -->
  </div> <!-- col -->
</div>
