<div class="affix navbar navbar-static-top nav-justified affix-top fixed sticky" role="navigation affix-top fixed sticky"> <!-- ROC links -->
<ul class="navbar nav nav-justified panel panel-default">
{% for link in site.links %}
  <li role="presentation">
    <a href="{{ site.url }}{{ link.url }}" role="button" class="navbar">
      {% if link.icon %}
      <i class="fa fa-{{ link.icon }}"></i> {{ link.title }}
      {% else %}
      {{ link.title }}{% endif %}
    </a>
  </li>
{% endfor %}
  <li role="presentation" class="dropdown"><a class="dropdown navbar" data-toggle="dropdown" role="button" href="{{site_url}}/supporters"><i class="fa fa-star"></i> Supported By <span class="caret"></span></a>
    <ul class="pull-right dropdown-menu">
{% for project in site.data.supporters %}
      <li><a href="{{ project.url }}" class="navbar" data-toggle="tooltip" title="{{ project.name }}" target="_blank">{{ project.name }}</a></li>
{% endfor %}
    </ul></li>
</ul>
</div>
