<!-- description of the Regional Operator on Duty -->
  <div role="tabpanel" class="tab-pane fade in out" id="reference">
    <div class="post-body bordered-bottom bordered-top">
      <h1> Hey, nobody can remember everything all the time</h1>
      <h2> ... and google is only as smart as the questions you ask</h2>
      Here are a few links to information which site admins need on a daily basis.
      <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown"><a href="https://wiki.egi.eu/wiki/Documentation"
class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">EGI Operations Wiki</a>
          <ul class="dropdown-menu">
            <li><a href="https://wiki.egi.eu/wiki/Performance">EGI OLA/SLA Framework</a></li>
            <li><a href="https://wiki.egi.eu/wiki/Documentation">EGI Operations Manuals</a></li>
          </ul>
        <li><a href="">Middleware</a></li>
        <li class="presentation"><a href="">Site admin refresher course</a></li>
      </ul>
    </div> <!-- post body -->
</div>
