<!--
This is a generic template for new appplication categories
-->
  <div role="tabpanel" class="tab-pane fade in" id="python">
    <br><p class="post-info text-justify">
These are python add-ons.
    </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Versions</th>
        <th>Status</th>
        <th>Repo</i></th>
        <th style="text-align: left">Description</th>
        <th>Published</th>
      </tr>
    </thead>
  {% for app in site.data.applications %}
  {% if app.tags contains "python" %}
  {% include apptable.html %}
  {% endif %}
  {% endfor %}
  </table>
  </div>
