<!--
This is a generic template for new appplication categories
-->
  <div role="tabpanel" class="tab-pane fade in" id="requested">
    <br><p class="post-info text-justify">
This is what we've got in the pipeline
    </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Versions</th>
        <th>Repo</i></th>
        <th style="text-align: left">Description</th>
        <th>Published</th>
      </tr>
    </thead>

  {% for app in site.data.applications %}
  {% if app.tags contains "requested" %}
    <tr>
      <td>{{ app.name }}</td>
      <td> {%if app.versions %}{% for version in app.versions %}
      <span class="badge badge-info">{{ version }}</span>
      {% endfor %}
      {% endif %}</td>
      {% if app.job != null %}
      <td style="valign: center"><a href='http://ci.sagrid.ac.za:8080/view/All/job/{{ app.job }}/'><img src='http://ci.sagrid.ac.za:8080/view/All/job/{{ app.job }}/badge/icon'></a>
      </td>
      {% else %}
      <td style="valign: center"><span class="badge badge-info">Proposed</span></td>
      {% endif %}
      <!--
      <td><a href="{{ app.repo }}"><i class="fa fa-github"></i></a></td>
    -->
      <td style="text-align: left"><p style="word wrap word-wrap: break-word;">{{ app.description }}</p> </td>


      {%if app.tags contains "cvmfs"%}
      <td><i class="social-icons fa fa-check-circle-o" style="color: green"></i></td>
      {% else %}
      <td><i class="social-icons fa fa-times-circle-o" style="color:red"></i></td>
      {% endif %}
    </tr>
  {% endif %}
  {% endfor %}
  </table>
  </div>
