<!-- description of the Regional Operator on Duty -->
  <div role="tabpanel" class="tab-pane fade in out" id="rod">
    <div class="post-body bordered-bottom bordered-top">
      <blockquote>"ROD (Regional Operator on Duty) is a role which oversees the smooth operation of EGI infrastructure in the respective NGI."
      <footer>
          <cite><a href="https://wiki.egi.eu/wiki/Regional_Operator_on_Duty">EGI Operations Wiki</a>
          </cite>
        </footer>
      </blockquote>
      The ROD is a central role provided by certain members of the ROC, in order to perform the agreed procedures and monitoring the agreed policies associated with interoperating with EGI infrastructure.
      <div class="row">
        <h3 class="post-header"><a href="https://operations-portal.egi.eu/"><img src="{{ site_url }}/images/logo_final_short.png" class="img-responsive img-circle" height="25" width="25" />Most of the day-to-day operations conducted by ROD are done via the Operations Portal</a></h3>
      </div>
      <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pJsCx5sj9Uc" width="420" height="315"></iframe>
        </div>
      </div>

      More information :

      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="https://wiki.egi.eu/wiki/ROD_Duties" alt="What to do when you're ROD">Duties</a></li>
        <li role="presentation"><a href="https://wiki.egi.eu/wiki/ROD_Alarms_and_tickets" alt="How to manage Alarms and tickets">Alarms and Tickets</a></li>
        <li role="presentation"><a href="https://wiki.egi.eu/wiki/ROD_Downtimes" alt="How to deal with Downtime">Downtimes</a></li>

      </ul>
    </div> <!-- post body -->
</div> <!--tabpanel -->
