<!-- description of the Site Operator on Duty -->

  <div role="tabpanel" class="tab-pane fade in out" id="site">
    <div class="post-body bordered-bottom bordered-top">
      <!-- list of duties and stuff --> 
      <h1>Site Status</h1>
      ARGO stuff.
      <h1>Standard Operating Procedures</h1>
      See EGI Wiki for Standard Operating Procedures.
      <h1>Reporting issues</h1>
      See EGI Wiki for managing issues.
      <h1>Troubleshooting</h1>
      See EGI Wiki for troubleshooting
    </div> <!-- post body -->
</div>
