<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>

<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
{% if page.image.feature %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" itemscope itemtype="http://schema.org/Organization">
{% else %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-top"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
{% endif %}
<div class="inner">
<div class="row bordered border-bottom">
<a><h1 class="blog-title light" itemprop="name">{{ site.title }}</h1></a>
<!-- site logo -->
</div>
<div class="row">
<div class="col-md-12">
  <ul class="navbar-brand nav nav-pills nav-stacked">
            <li><a href="http://twitter.com/{{ site.owner.twitter }}" data-toggle="tooltip" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="brand fa fa-twitter fa-2x"></i></a></li>
            <li><a href="http://facebook.com/{{ site.owner.facebook }}" data-toggle="tooltip" title="{{ site.owner.name}} on Facebook" target="_blank">
    <i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="http://github.com/{{ site.owner.github }}" data-toggle="tooltip" title="{{ site.owner.name}} on Github" target="_blank">
    <i class="fa fa-github fa-2x"></i></a></li>
  </ul>
    <a class="brand" href="{{ site.url }}" role="banner" itemprop="url"><img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" /></a>
  </div>
</div>
<div class="row">
<p class="blog-description" itemprop="description">{{ site.description }}</p>
</div> <!-- row-->
<!--- Powered by -->
<div class="row">
<!---->
<!-- ROC links -->
  <div class="navbar-pills nav-justified" role="navigation">
    <ul class="navbar-brand nav nav-pills nav-justified">
{% for link in site.links %}
      <li role="presentation">
{% if link.external %}
        <a href="{{ link.url }}" role="button" class="navbar">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{% endif %}{{ link.title }}</li>
{% else %}
        <a href="{{ site.url }}{{ link.url }}" role="button" class="navbar">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i> {{ link.title }}{% else %}{{ link.title }}{% endif %}</a>
{% endif %}
      </li>
{% endfor %}
<!-- Site links -->
      <li role="presentation" class="dropdown"><a class="dropdown-toggle navbar" data-toggle="dropdown" >Sites<span class="caret"></span></a></li>
        <ul class="dropdown-menu" role="menu">
{% for link in site.data.sites %}
          <li><a href="{{ link.url }}" class="navbar">{{ link.name }}</a></li>
{% endfor %}
        </ul>
      </ul>
  </div> <!-- navbar -->
</div> <!-- row -->
</div>
</header>
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
<div class="container">
<div class="row">
    <ul class="navbar-brand nav nav-pills nav-stacked">
{% for link in site.data.powered_by %}
    <li><a href="{{ link.url }}" data-toggle="tooltip" title="{{ link.title }}" target="_blank"><img src="{{ site_url }}/images/{{ link.image }}" height="25px" /></a>{{ link.title }}</li>
{% endfor %}
    </ul>
    <ul class="pull-right navbar-brand nav nav-pills nav-stacked">
{% for link in site.data.supported_by %}
    <li><a href="{{ link.url }}" data-toggle="tooltip" title="{{ link.title }}" target="_blank"><img src="{{ site_url }}/images/{{ link.image }}" height="25px" /></a>{{ link.title }}</li>
{% endfor %}
    </ul>
</div>


<div class="page-body" itemprop="description">

<div class="row">
            {{ content }}
            </div>
        </div>
    </div>
</div>
    {% include footer.html %}

{% include scripts.html %}
</body>
</html>
