<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
{% include  navbar.html %}
{% if page.image.feature %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" itemscope itemtype="http://schema.org/Organization">
{% else %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-top"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
{% endif %}
  <div class="inner">
    <div class="container" id="masthead2">
      <div class="row bordered border-bottom">
        <a><h1 class="blog-title light" itemprop="name">{{ site.title }}</h1></a>
      </div>
<!-- site logo -->
      <div class="row">
        <div class="col-md-4">
          <ul class="social-icons">
            <li><a href="http://twitter.com/{{ site.owner.social.twitter }}" data-toggle="tooltip" title="Follow us  on Twitter" target="_blank"><i class="brand fa fa-twitter fa-2x"></i></a></li>
            <li><a href="http://facebook.com/{{ site.owner.social.facebook }}" data-toggle="tooltip" title="find us on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="http://github.com/{{ site.owner.social.github }}" data-toggle="tooltip" title="Fork our infrastructure and services on Github" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
          <li><a href="{{ /slack/ | absolute_url }}" data-toggle="tooltip" title="Join the team on Slack" target="_blank"><i class="fa fa-slack fa-2x"></i></a></li>
        </ul>
      </div> <!-- col --><!-- Social icons column -->
      <div class="col-md-4"> <!-- project url -->
        <a class="brand" href="http://{{ site.url }}" role="banner" itemprop="url"><img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" ></a>
      </div> <!-- col-->

      <div class="col-md-4"> <!-- about us links -->
        <ul class="social-icons " z-index="1000" title="Us" header="us">
          {% for link in site.data.roles %}
          <li><a href="{{ link.url }}" data-toggle="tooltip" title="{{ link.title }}" target="_blank"><img src="{{ site_url }}/images/{{ link.image }}" width="50px" class="img-rounded"/> </a></li>
          {% endfor %}
        </ul>
      </div> <!-- about us column -->
    </div> <!-- row -->
    <div class="row">
      <p class="blog-description" itemprop="description">{{ site.description }}</p>
    </div> <!-- row-->
  </div> <!-- container -->
</div> <!-- inner -->
</header>

<div class="container">
  <div class="row"> <!-- content row -->
    <div class="col-md-10">
      <div id="main" class="content" role="main" itemprop="mainContentOfPage">
          <div class="page-body" itemprop="description">
            {{ content }}
          </div> <!-- page-body -->
          </div> <!-- main -->
  </div> <!-- col-md-10 -->
  <!-- <div class="col-md-2 col-md-offset-10">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TheSAGrid" data-widget-id="618325914083061760">Tweets by @TheSAGrid</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div> -->
      </div> <!-- row -->
</div> <!-- container -->
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
